
<!-- use base html tempalte -->
{% extends 'base.html' %}
{% block content %}
    <!-- recipe output -->
<div class="container cards">
    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m6 l4"> 
            <div class="card">
                <div class="card-image">
                    <img src="https://image.shutterstock.com/image-photo/spaghetti-bolognese-on-wooden-surface-260nw-1410464291.jpg">
                    <span class="card-title">{{ recipe.recipe_name }} - {{ recipe.category_name}}</span>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                       <p> {{ recipe.recipe_sdes }} </p>
                    </div>
                    <div class="card-action">
                        <!-- <i class="material-icons">chrome_reader_mode</i> -->
                        <a href="{{ url_for('get_recipe', recipe_id=recipe._id )}}">How to cook...</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}





